*{
  margin: 0 auto;
  padding: 0;
}
html{
  font-size: 16px;
}
body{
  font-size: 16px;
}
.button-custom{
  background: $green-1;
  border-radius: 50px;
  padding: .5rem 1.5rem;
  border:2px solid $green-1;
  transition: .2s linear;
  &:hover{
    background: transparent;
    border:2px solid $green-1;
    color: $green-1;
  }
}
footer{
  padding: 2rem 0;
  box-sizing: border-box;
  p{
    text-align: center;
    margin: 0;
  }
}
