@mixin for-mobile{
  @media only screen and (min-width: $mobile) and (max-width: 767px){
    @content;
  }
}
@mixin for-tablet{
  @media only screen and (min-width: $tablet) and (max-width: 1023px){
    @content;
  }
}
@mixin for-tablet-l{
  @media only screen and (min-width: $tablet-l) and (max-width: 1279px){
    @content;
  }
}
@mixin for-desktop{
  @media only screen and (min-width: $desktop){
    @content;
  }
}
