header{
  .navbar{
    box-shadow: $shadow-2;
    @include for-mobile{
      box-shadow: none;
    }
    @include for-tablet{
      box-shadow: none;
    }
    .navbar-toggler{
      @include for-mobile{
        display: block;
        text-align: right;
        width: 100%;
        border: 0;
      }
      @include for-tablet{
        display: block;
        text-align: right;
        width: 100%;
        border: 0;
      }
    }
    .navbar-collapse{
      .navbar-nav{
        .nav-item{
          margin: 0 .5rem;
          &.active{
            color: $green-1;
          }
        }
      }
    }
  }
  .logo{
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    @include for-mobile{
      position: absolute;
      top: 0;
      left: 1.5rem;
    }
    @include for-tablet{
      position: absolute;
      top: 0;
      left: 1.5rem;
    }
    span{
      color: $green-1;
    }
  }
}
