.section-features{
  background: $gray-1;
  padding: 3rem 0;
  box-sizing: border-box;
  article{
    .container{
      h2{
        text-align: center;
        font-weight: 800;
        margin-bottom: 3rem;
      }
      .row-item{
        display: flex;
        justify-content: space-around;
        margin: 1rem 0;
        @include for-mobile{
          display: block;
        }
        .card{
          border: 0;
          background: $white;
          display: inline-block;
          padding: 2rem;
          box-sizing: border-box;
          max-width: 350px;
          width: 100%;
          transition: .2s linear;
          @include for-mobile{
            margin: .5rem 0;
          }
          @include for-tablet{
            margin: 0 .5rem;
          }
          @include for-tablet-l{
            margin: 0 .5rem;
          }
          i{
            &:before{
              padding: 8px 8px;
              background: #00AA9D;
              color: #FFFFFF;
              border-radius: 50%;
              font-size: 24px;
              width: 40px;
              height: 40px;
              display: inline-block;
              transition: .2s linear;
            }
            &.icon-rotate-left, &.icon-smile-o, &.icon-plug{
              &:before{
                padding: 8px 10px;
              }
            }
          }
          .card-body{
            padding: 0;
            margin-top: 1.5rem;
            .link-card{
              color: $green-1;
              text-decoration: none;
            }
          }
          &:hover{
            background: $green-1;
            h5, p, .link-card{
              color: $white;
            }
            i{
              &:before{
                transform: scale(1.3);
              }
            }
          }
        }
      }
    }
  }
}
