.section-contact{
  background: $gray-1;
  padding: 3rem 0;
  box-sizing: border-box;
  article{
    .container{
      h2{
        text-align: center;
        font-weight: 800;
        margin-bottom: 3rem;
      }
      .container-form{
        background: $white;
        padding: 2rem;
        box-sizing: border-box;
        .title-form{
          margin-bottom: 2rem;
        }
      }
    }
  }
}
