.section-prototypes{
  padding: 3rem 0;
  box-sizing: border-box;
  article{
    .container{
      .image-container{
        img{
          display: block;
          width: 100%;
        }
      }
      .copy-prototypes{
        .jumbotron{
          background: none;
          h2{
            font-weight: 800;
          }
          .lead{
            i{
              margin-right: 15px;
              &:before{
                color: $green-1;
              }
            }
          }
          .card-testimonial{
            box-shadow: $shadow-1;
            .card-header{
              width: 100%;
              background: none;
              border: 0;
              img{
                max-width: 60px;
                border-radius: 50%;
                display: inline-block;
                vertical-align: middle;
              }
              .info{
                display: inline-block;
                vertical-align: middle;
                padding: 15px .5rem 0 .5rem;
                box-sizing: border-box;
              }
            }
            .card-body{
              padding-top: 0;
              padding-bottom: 0;
              blockquote{
                p{
                  color: $gray-2;
                  font-style: italic;
                  line-height: 1.7rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
