.section-testimonial{
  padding: 3rem 0;
  box-sizing: border-box;
  article{
    .container{
      h2{
        text-align: center;
        font-weight: 800;
        margin-bottom: 3rem;
      }
      .owl-carousel{
        .item{
          img{
            display: block;
            max-width: 100px;
            box-shadow: $shadow-1;
            border-radius: 50%;
          }
          p{
            width: 50%;
            text-align: center;
            color: $gray-2;
            font-size: 1.3rem;
            margin-top: 2rem;
            @include for-mobile{
              width: 100%;
            }
            @include for-tablet{
              width: 100%;
            }
          }
          span{
            width: 50%;
            display: block;
            text-align: center;
            font-weight: 600;
          }
        }
        .owl-dots{
          text-align: center;
          button{
            span{
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background: $gray-1;
              display: inline-block;
              margin: 0 5px;
            }
            &.active{
              span{
                background: $green-1;
              }
            }
          }
        }
      }
    }
  }
}
