.section-about-us{
  background: $gray-1;
  padding: 3rem 0;
  box-sizing: border-box;
  article{
    .container{
      h2{
        text-align: center;
        font-weight: 800;
        margin-bottom: 3rem;
      }
      .row{
        margin: 2rem 0;
        .col-lg-6{
          img{
            display: block;
            width: 100%;
            box-shadow: $shadow-1;
          }
          .jumbotron{
            background: none;
            padding-top: 0;
          }
        }
      }
    }
  }
}
