.section-home{
  background: url(../images/landing_1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 115%, 0%;
  margin: 3rem 0;
  @include for-mobile{
    background-size: 100%;
    background-position: initial;
  }
  @include for-tablet{
    background-size: 100%;
    background-position: initial;
  }
  @include for-tablet-l{
    background-position: 150%, 0%;
  }
  article{
    .container{
      .jumbotron{
        background: none;
        margin: 0;
        @include for-mobile{
          padding-top: 17rem;
        }
        @include for-tablet{
          padding-top: 81%;
        }
        h1{
          font-weight: 700;
        }
      }
    }
  }
}
