//colors
$green-1: #00AA9D;
$gray-1: #F6F6F6;
$gray-2: #969696;
$white: #FFFFFF;

//shadows
$shadow-1: 0px 8px 40px -20px #000;
$shadow-2: 0px 8px 15px -20px #000;

//media queries
$mobile: 320px;
$tablet: 768px;
$tablet-l: 1024px;
$desktop: 1280px;
