* {
  margin: 0 auto;
  padding: 0; }

html {
  font-size: 16px; }

body {
  font-size: 16px; }

.button-custom {
  background: #00AA9D;
  border-radius: 50px;
  padding: .5rem 1.5rem;
  border: 2px solid #00AA9D;
  transition: .2s linear; }

.button-custom:hover {
  background: transparent;
  border: 2px solid #00AA9D;
  color: #00AA9D; }

footer {
  padding: 2rem 0;
  box-sizing: border-box; }

footer p {
  text-align: center;
  margin: 0; }

header .navbar {
  box-shadow: 0px 8px 15px -20px #000; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  header .navbar {
    box-shadow: none; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header .navbar {
    box-shadow: none; } }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  header .navbar .navbar-toggler {
    display: block;
    text-align: right;
    width: 100%;
    border: 0; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header .navbar .navbar-toggler {
    display: block;
    text-align: right;
    width: 100%;
    border: 0; } }

header .navbar .navbar-collapse .navbar-nav .nav-item {
  margin: 0 .5rem; }

header .navbar .navbar-collapse .navbar-nav .nav-item.active {
  color: #00AA9D; }

header .logo {
  display: block;
  text-align: center;
  font-size: 2rem;
  font-weight: 600; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  header .logo {
    position: absolute;
    top: 0;
    left: 1.5rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header .logo {
    position: absolute;
    top: 0;
    left: 1.5rem; } }

header .logo span {
  color: #00AA9D; }

.section-home {
  background: url(../images/landing_1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 115%, 0%;
  margin: 3rem 0; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .section-home {
    background-size: 100%;
    background-position: initial; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section-home {
    background-size: 100%;
    background-position: initial; } }

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .section-home {
    background-position: 150%, 0%; } }

.section-home article .container .jumbotron {
  background: none;
  margin: 0; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .section-home article .container .jumbotron {
    padding-top: 17rem; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section-home article .container .jumbotron {
    padding-top: 81%; } }

.section-home article .container .jumbotron h1 {
  font-weight: 700; }

.section-features {
  background: #F6F6F6;
  padding: 3rem 0;
  box-sizing: border-box; }

.section-features article .container h2 {
  text-align: center;
  font-weight: 800;
  margin-bottom: 3rem; }

.section-features article .container .row-item {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .section-features article .container .row-item {
    display: block; } }

.section-features article .container .row-item .card {
  border: 0;
  background: #FFFFFF;
  display: inline-block;
  padding: 2rem;
  box-sizing: border-box;
  max-width: 350px;
  width: 100%;
  transition: .2s linear; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .section-features article .container .row-item .card {
    margin: .5rem 0; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section-features article .container .row-item .card {
    margin: 0 .5rem; } }

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .section-features article .container .row-item .card {
    margin: 0 .5rem; } }

.section-features article .container .row-item .card i:before {
  padding: 8px 8px;
  background: #00AA9D;
  color: #FFFFFF;
  border-radius: 50%;
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: inline-block;
  transition: .2s linear; }

.section-features article .container .row-item .card i.icon-rotate-left:before, .section-features article .container .row-item .card i.icon-smile-o:before, .section-features article .container .row-item .card i.icon-plug:before {
  padding: 8px 10px; }

.section-features article .container .row-item .card .card-body {
  padding: 0;
  margin-top: 1.5rem; }

.section-features article .container .row-item .card .card-body .link-card {
  color: #00AA9D;
  text-decoration: none; }

.section-features article .container .row-item .card:hover {
  background: #00AA9D; }

.section-features article .container .row-item .card:hover h5, .section-features article .container .row-item .card:hover p, .section-features article .container .row-item .card:hover .link-card {
  color: #FFFFFF; }

.section-features article .container .row-item .card:hover i:before {
  transform: scale(1.3); }

.section-prototypes {
  padding: 3rem 0;
  box-sizing: border-box; }

.section-prototypes article .container .image-container img {
  display: block;
  width: 100%; }

.section-prototypes article .container .copy-prototypes .jumbotron {
  background: none; }

.section-prototypes article .container .copy-prototypes .jumbotron h2 {
  font-weight: 800; }

.section-prototypes article .container .copy-prototypes .jumbotron .lead i {
  margin-right: 15px; }

.section-prototypes article .container .copy-prototypes .jumbotron .lead i:before {
  color: #00AA9D; }

.section-prototypes article .container .copy-prototypes .jumbotron .card-testimonial {
  box-shadow: 0px 8px 40px -20px #000; }

.section-prototypes article .container .copy-prototypes .jumbotron .card-testimonial .card-header {
  width: 100%;
  background: none;
  border: 0; }

.section-prototypes article .container .copy-prototypes .jumbotron .card-testimonial .card-header img {
  max-width: 60px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle; }

.section-prototypes article .container .copy-prototypes .jumbotron .card-testimonial .card-header .info {
  display: inline-block;
  vertical-align: middle;
  padding: 15px .5rem 0 .5rem;
  box-sizing: border-box; }

.section-prototypes article .container .copy-prototypes .jumbotron .card-testimonial .card-body {
  padding-top: 0;
  padding-bottom: 0; }

.section-prototypes article .container .copy-prototypes .jumbotron .card-testimonial .card-body blockquote p {
  color: #969696;
  font-style: italic;
  line-height: 1.7rem; }

.section-about-us {
  background: #F6F6F6;
  padding: 3rem 0;
  box-sizing: border-box; }

.section-about-us article .container h2 {
  text-align: center;
  font-weight: 800;
  margin-bottom: 3rem; }

.section-about-us article .container .row {
  margin: 2rem 0; }

.section-about-us article .container .row .col-lg-6 img {
  display: block;
  width: 100%;
  box-shadow: 0px 8px 40px -20px #000; }

.section-about-us article .container .row .col-lg-6 .jumbotron {
  background: none;
  padding-top: 0; }

.section-testimonial {
  padding: 3rem 0;
  box-sizing: border-box; }

.section-testimonial article .container h2 {
  text-align: center;
  font-weight: 800;
  margin-bottom: 3rem; }

.section-testimonial article .container .owl-carousel .item img {
  display: block;
  max-width: 100px;
  box-shadow: 0px 8px 40px -20px #000;
  border-radius: 50%; }

.section-testimonial article .container .owl-carousel .item p {
  width: 50%;
  text-align: center;
  color: #969696;
  font-size: 1.3rem;
  margin-top: 2rem; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .section-testimonial article .container .owl-carousel .item p {
    width: 100%; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section-testimonial article .container .owl-carousel .item p {
    width: 100%; } }

.section-testimonial article .container .owl-carousel .item span {
  width: 50%;
  display: block;
  text-align: center;
  font-weight: 600; }

.section-testimonial article .container .owl-carousel .owl-dots {
  text-align: center; }

.section-testimonial article .container .owl-carousel .owl-dots button span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #F6F6F6;
  display: inline-block;
  margin: 0 5px; }

.section-testimonial article .container .owl-carousel .owl-dots button.active span {
  background: #00AA9D; }

.section-contact {
  background: #F6F6F6;
  padding: 3rem 0;
  box-sizing: border-box; }

.section-contact article .container h2 {
  text-align: center;
  font-weight: 800;
  margin-bottom: 3rem; }

.section-contact article .container .container-form {
  background: #FFFFFF;
  padding: 2rem;
  box-sizing: border-box; }

.section-contact article .container .container-form .title-form {
  margin-bottom: 2rem; }
